{{define "base"}}
<!doctype html>
<html lang="zxx">
  <head></head>
  <body>
    {{block "content" .}} {{ end }}
    <script>
      {{with .Error}}
        alert("{{.}}")
        {{end}}

        {{with .Flash}}
        alert("{{.}}")
        {{end}}

        {{with .Warning}}
        alert("{{.}}")
        {{end}}
    </script>
    {{block "js" .}} {{ end }}
  </body>
</html>
{{ end }}
